<?xml version='1.0' encoding='utf-8'?>
<widget id="com.Manager.Manager" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Manager</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />

    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <preference name="AndroidInsecureFileModeEnabled" value="true" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidInsecureFileModeEnabled" value="true" />

        <!-- CONFIRMADO no log: net::ERR_CLEARTEXT_NOT_PERMITTED. Isso
             instala um network_security_config.xml de verdade (a forma
             "oficial" do Android de liberar HTTP puro), que é mais
             confiável do que a preference sozinha. O arquivo
             network_security_config.xml precisa estar em:
             app/res/xml/network_security_config.xml -->
        <resource-file src="network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />

        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application
                android:usesCleartextTraffic="true"
                android:networkSecurityConfig="@xml/network_security_config" />
        </edit-config>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
